<div id="homecontainer" class="container">
  <div id="contentcontainer">
    <div id="hpcontent">
      <div id="hpbuttons">
        <a href="/map?modal=1"><button id="mapscene" class="btn btn-large btn-info" type="button">Map a Scene from a Novel</button></a>
        <a href="/map?modal=1"><button id="explore" class="btn btn-large btn-info" type="button">Explore a Place Through Its Literature</button></a>
      </div>
      <div id="hpfeatured" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#hpfeatured" data-slide-to="0" class="active"></li>
          <li data-target="#hpfeatured" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="active item">
            <a href="/map/filter/author/D.E.%20Johnson">
            <img src="/img/dec2013-long.png" />
              <div class="carousel-caption">
                <h5>Author Spotlight: </h5>
                <h4>D.E. Johnson, <em>Detroit Shuffle</em></h4>
                <h5><a target="_blank" class="smlink" href="//www.facebook.com/dejohnsonauthor">
                (Follow on Facebook...)</a></h5>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="/map/filter/author/Terri%20Giuliano%20Long">
              <img src="/img/dec2013-long.png" />
              <div class="carousel-caption">
                <h5>IndieReader.com Author Spotlight: </h5>
                <h4>Terri Long,
                  <em>In Leah&apos;s Wake</em>
                  </h4>
                <h5><a target="_blank" class="smlink" href="//blog.tglong.com/">(More on Author&apos;s Website...)</a></h5>
              </div>
            </a>
          </div>
        </div>
        <a class="carousel-control left" href="#hpfeatured" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#hpfeatured" data-slide="next">&rsaquo;</a>
      </div>
      <div id="recentcontent">
        <h4>Newest Places Added:</h4>
        <h5 id="count"></h5>
        <ul><li>loading...</li></ul>
      </div>
    </div>
    <div id="hplower">
      <div id="cities">
        <h4>Cities</h4>
          <form id="geocodersearch">
            <input type="text" id="gcf" placeholder="Type city name. Hit enter." class="search-query"/>
          </form>
        <div>
          <p/>
          <p><a href="/map/41.3060969411,-72.9260498285">New Haven, Connecticut</a></p>
          <p><a href="/map/46.7833,-92.1064">Duluth, Minnesota</a></p>
          <p><a href="/map/37.7750,-122.4183">San Francisco, California</a></p>
          <p><a href="map/51.51121389,-0.11982439">London, England</a></p>
          <p><a href="map/55.953252,-3.188266999999996">Edinburgh, Scotland</a></p>
          <p><a href="/map/52.3702157,4.895167899999933">Amsterdam, Netherlands</a></p>
        </div>
      </div>
      <div id="hpauthors">
        <h4>Authors</h4>
          <form id="plauthorsearch">
            <input type="text" id="authorq" placeholder="Type author name. Hit enter." class="search-query"/>
          </form>
        <div>
          <p/>
          <p><a href="/map/filter/author/Hugh%20Howey">Hugh Howey</a></p>
          <p><a href="/map/filter/author/Alice%20Mattison">Alice Mattison</a></p>
          <p><a href="/map/filter/author/Philip%20Roth">Philip Roth</a></p>
          <p><a href="/map/filter/author/Amy%20Tan">Amy Tan</a></p>
          <p><a href="/map/filter/author/Arthur%20Conan%20Doyle">Arthur Conan Doyle</a></p>
          <p><a href="/map/filter/author/Christopher%20Moore"> Christopher Moore</a></p>
        </div>
      </div>
      <div id="hptabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#blogposts" data-toggle="tab">
            <h4>Blog Posts</h4></a></li>
          <li><a href="#hpvideowrapper" data-toggle="tab"><h4>Videos</h4></a></li>
        </ul>
        <div class="tab-content">
          <div id="blogposts" class="tab-pane active">
            {% for post in posts %}
              <p><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></p>
            {% endfor %}
          </div>
          <div id="hpvideowrapper" class="tab-pane">
            <iframe src="http://www.youtube.com/embed/NV0Qdo6ImJo?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </div>
</div>
