.sass-cache/
*.sublime-project
*.sublime-workspace
*.ipynb*
*.pyc
static/app/bower_components
keys.py
static/scripts/src/*.js
static/scripts/src/**/*.js
static/styles/*.css
handlers
templates
classes
misc
app.yaml
