{% extends 'base.tmpl' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="homecontainer">
  <div id="aboutpic">
    <div><img src="/img/about-page-web.jpg" /></div>
  </div>
  <div id="about">
    <div>
      <p>
        Setting is a vital component in any work of literature- from Charles Dickens's London to Mark Twain's Hannibal to Jack Kerouac's Lowell. Putting a story in the context of a real physical location gives stories context, placing readers in a familiar locale as the story unfolds around them.
      </p>
      <p>
        Placing Literature is an online database of places from scenes in literature- sourced and plotted by readers and researchers. Created by an author, a geographer and an engineer, the goal of Placing Literature is to connect readers to the places they are reading about, highlighting the meanings, values and emotions attached to a space. Particularly, in this case, the meanings and values created by the author and experienced by the reader.
      </p>
      <p>
        Placing Literature launched in June 2013 at the <a href="//artidea.org">International Arts and Ideas Festival</a> in New Haven, Conn., with more than 1,000 data points. Literary scenes continue to be plotted by readers for readers, using the power of crowdsourcing to create respected reference material for future research.
      </p>
      <p>
        Please connect with us on <a href="https:facebook.com/placingliterature/" target="_blank">Facebook</a>.
      </p>
    </div>
    <h5>The Team:</h5>
    <div>
      <p>
        <strong>Andrew Bardin Williams</strong> is an author and copywriter living in New Haven, Conn. Inspired by the beats, Andrew strives to provide readers a sense of place in his fiction writing, using real-world locations (a laundromat, a caf&eacute;, a public square) to create setting, build tension and develop character. His novel <a href="//www.learningtohaight.com"><em>Learning to Haight</em></a> was named a finalist for the 2012 Indie Reader Discovery Award in literary fiction. He is currently working on his second novel, <em>Polk Gulch</em>. <a href="//www.linkedin.com/in/andrewbwilliams"><img src="/img/linkedin_logo16px.png"/></a>
      </p>
      <p>
        <strong>Kathleen Colin Williams</strong> is a PhD candidate in the Department of Geography at the University of Wisconsin-Milwaukee. Currently, she is working on her doctoral dissertation <em>Resilience in Areas of Concern:  A comparative study of the engagement of stakeholders in environmental governance of Great Lakes coastal zones</em>. Katie is concerned with the complexities of stakeholder/public participation in environmental governance and ecological restoration in formerly degraded areas along the Great Lakes.  Katie is finding that how people identify and experience a place is a piece of the complex puzzle of engaging the public in ecological restoration. <a href="//www.linkedin.com/pub/katie-williams/43/194/127"><img src="/img/linkedin_logo16px.png"/></a>
      </p>
      <p>
        <strong>Steven Young</strong> is a software engineer living in San Francisco. He has worked at GameSpot, CNET, Google and other firms that offer web-based services, so he is a veteran of several internet bubbles. He thinks you should be reading more Cormac McCarthy and Jonathan Franzen, preferably while camping alone in the desert.
        <a href="//www.linkedin.com/in/stevenedgaryoung"><img src="/img/linkedin_logo16px.png"/></a>
      </p>
    </div>
    <div id="lowernav">
        <span>
          <a href="mailto:info@placingliterature.com">contact us</a> | <a href="/funding">funding provided by the Arts Council of Greater New Haven</a> | </span>
        <span>&copy; 2014. all rights reserved</span>
    </div>
{% endblock %}
