{% extends 'base.tmpl' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="homecontainer">
  <div id="aboutpic">
    <div><img src="/img/reintegrate7demo4.jpg" width="800px"/></div>
  </div>
  <div id="funding">
    <div>
      <p>
    Placing Literature was originally funded by the Arts Council of Greater New Haven as an award recipient of the organization’s Reintegrate Grant. The goal of the original project was to use scientific method to study the role of geography in literature and help open the public’s eyes to examine both physical and literary places. Another goal of the project was to inspire future artists, readers and explorers to shape their landscapes through description and mapping.
      </p>
      <p>
  The six-month project consisted of content analysis of five literary works in three diverse geographic settings (New Haven, Conn.; Duluth-Superior, Minn. and San Francisco, Calif.) in order to identify some of the key elements that make a place inspiring—including what is the setting, who uses the setting and what that means for the characters. The resulting Reader-Defined Places in Literature (RDPL) database was later adapted for PlacingLiterature.com.
      </p>
      <p>
  The grant program now complete, Placing Literature is privately owned and operated by its founders in partnership with the literary community at large.
      </p>
    </div>
  </div>
  <div id="lowernav">
  <span>
    <a href="mailto:info@placingliterature.com">contact us</a> | <a href="/funding">funding provided by the Arts Council of Greater New Haven</a> | </span>
        <span>&copy; 2014. all rights reserved</span>
      </span>
  </div>
</div>
{% endblock %}