@import "bootstrap.scss";

$full: 100%;
$mapborder: solid #aaa 1px;
$hometopmargin: 1%;
@mixin rounded() {
  border-radius: 4px;
}
@mixin centered($width) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: $width;
}
html { height: $full }
body { height: $full; margin:0%; padding:0; }
#homecontainer, #plpageheader, #uppernavcontainer, #mapnavcontainer, #staticnavcontainer {
  @extend .container;
}
#plpageheader {
  margin-top: 1%;
  h3 {
    margin: 0 0;
  }
}
#uppernav {
  @extend .navbar;
  margin-left: auto;
  margin-right: auto;
}
#uppernavcontainer #uppernav {
  width: 60em;
}
#basenavcontainer {
  @extend .container;
  position: relative;
  left: 0.75%;
  width: 50em;
  margin-top: 0.5%;
}
#mapnavcontainer #uppernav {
  width: 66em;
}
#staticnavcontainer {
  margin-bottom: 1%;
  width: 54em;
}
#sitelinks {
  @extend .nav;
  @extend .navbar-inner;
  padding-right: 0px;
  padding-left: 1%;
}
#plpagetitle {
  text-align: center;
}
#sitelinks {
  li a {
    padding: 5px 10px 5px;
    margin-right: 0px;
    border-width: 0px;
  }
}
#mapsearchcontainer {
  @extend .container;
  margin-right: auto;
  margin-left: auto;
  width: 42em;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  position: relative;
}
#geocodersearch, #plauthorsearch {
  margin-bottom: 1%;
}
#gcf, #authorq {
  margin-top: 5px;
}
#lowernav {
  @include centered(80%);
  font-size: smaller;
}
#contentcontainer {
  width: $full;
  #newhavencap {
    display: inline-block;
    width: 560px;
    margin: 1%;
  }
  iframe {
    height: 220px;
    width: 100%;
    border: 0;
  }
  #recentcontent, #cities {
    text-align: left;
    margin: $hometopmargin;
    width: 35%;
    @include rounded;
    ul {
      margin-left: 10px;
    }

    li {
      font-size: 12px;
    }
  }
  #recentcontent {
    float: right;
    h4, h5 {
      margin: 1%;
    }
    max-height: 21em;
    overflow: hidden;
  }
  #hpcontent {
    @extend .row-fluid;
    height: 29em;
  }
  #hplower {
    @extend .row-fluid;
    height: 21em;
  }
  #cities  {
    float: left;
    width: 30%;
  }
  #hpauthors {
    float: left;
    width: 30%;
  }
  #cities, #hpauthors {
    margin-top: 1%;
    p, h4 {
      margin-left: 1%;
    }
  }
  #authorq {
    width: 240px;
  }
  #hptabs {
    @extend .tabbable;
    float: right;
    width: 37%;
    ul {
      margin-bottom: 3%;
    }
  }
}
#gcf {
  margin-bottom: 0px;
}
#map_canvas {
  text-align: center;
  height:100%;
  width:$full;
  top:0%;
  z-index: 0;
  border-top: $mapborder;
  border-bottom: $mapborder;
  margin-left: auto;
  margin-right: auto;
  #thankswindow {
    text-align: left;
  }
  // h3, img {
  //   position: relative;
  // }
  // h3  {
  //   top: 3em;
  // }
  // img {
  //   top: 5em;
  // }
}
#iwcontainer {
  display:none;
  z-index: 0;
}
.infowindowform {
  overflow: auto;
  width:90%;
  margin: auto;
  text-align: left;
  #formtitle {
    @extend .lead;
    margin: 0.5%;
  }
  div {
    // text-align: center;
  }
}
.contentpadding {
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 3%;
}
#mapcontainer {
  height: 72%;
  // height: 46em;
}
#about {
  padding-bottom: 3%;
}
#about, #funding div {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}
#aboutnavcontainer {
  width: 688px;
  margin-bottom: 1%;

  #aboutuppernav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
#aboutpic {
  margin-top: 1%;
  width: 100%;

  div {
    width:800px;
    margin-left: auto;
    margin-right: auto;
  }
}
#hpfeatured {
  @extend .img-rounded;
  display: inline-block;
  height: 330px;
  width: 550px;
  margin-top: 1%;
  margin-left: 1%;
  text-align: left;
  color: #fff;
  box-shadow: 0.0em 0.0em 0.5em #bbb;
  text-shadow: 1px 1px 1px #000;
  .carousel-caption {
    background: rgba(0, 0, 0, 0.1);
  }
  .carousel-caption a:link,
  .carousel-caption a:visited,
  .carousel-caption a:hover,
  .carousel-caption a:active,
  .carousel-caption h5 {
    color: #fff;
  }
  .carousel-indicators {
    left: 1%;
  }
  .carousel-control.right {
    right: 2%;
  }
  .carousel-control.left {
    left: 2%;
  }
  .carousel-caption a.smlink {
    font-size: small;
    // font-weight: lighter;
    color: white;
  }
}
#hpbuttons {
  text-align: center;
  margin: 1%;
  button {
    // position: relative;
    // margin-top: 10%;
    // width: 30%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    // border-width: 2px;
    // border-color: #666;
    box-shadow: 0.0em 0.1em 0.2em #888;
  }
  #mapscene, #explore {
    // height: 3.20em;
    font-size: 150%;
    font-weight: bold;

  }
}
#usermarker {
  padding:10px;
  @extend .text-center;
  button {
    @extend .btn;
    @extend .btn-info;
  }
}
.plinfowindow {
  z-index: 1;
  overflow: hidden;
  min-width: 400px;
  text-align: left;
  .pllabel {
    @extend .label;
    width: 98%;
    color: #333;
    background-color: #eee;
  }
  .plcontent {
    padding-left: 1%;
  }
  #affbtns {
    float: right;
  }
  #grbtn {
    max-height: 32px;
    padding-left: 5px;
  }
}
.visited {
  margin-top: 1%;
}
#checkin {
  // text-align: center;
  display: inline-block;
  // padding-right: 10%;
}
#weblogo {
  max-width: 60px;
  // margin-left: 1%;
  // margin-right: 1%;
  // transform: rotate(45deg);
  // -webkit-transform: rotate(45deg);
}
#blogposts {
  max-height: 14em;
  overflow: hidden;
}
#authorsearch {
  border-radius: 20px;
  margin-top: 3px;
}
#guidelines {
  float: right;
  margin-top: 1%;
}
.loading {
  width: 10em;
}
.buybook, .reviewbook {
  cursor: pointer;
}
#deleteplacebutton {
  float: right;
}
.editicon {
  height: 16px;
  padding-right: 10px;
}
.infopic {
  height: 80px;
  float: left;
  padding-right: 5px;
  padding-bottom: 2px;
  text-align: center;
}
#addscenebutton {
  @extend .btn;
  @extend .btn-primary;
  display: none;
  position: relative;
  top: -70%;
  left: 0.5em;
  width: 6.5em;
}
